langchain_google_genai
langchain_huggingface
streamlit
langchain_community
faiss-cpu
langchain
PyPDF2
pymupdf
python-docx 
transformers
sentencepiece
openai
llama-index
chromadb
faiss-cpu
pypdf
pdfminer.six
unstructured
pandas
numpy
llama-cpp-python
huggingface_hub
accelerate
torch