torch
langchain_community
langchain_huggingface
streamlit
faiss-cpu
langchain
transformers
sentencepiece
openai
llama-index
chromadb
faiss-cpu
pypdf
pdfminer.six
unstructured
pandas
numpy
llama-cpp-python
huggingface_hub
accelerate
